* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    font-size: 62.5%;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    overflow: hidden;
}
body::before {
    content: "";
    position: absolute;
    inset: 0;
    background-image: url("../images/cats.jpg");
    background-size: cover;
    background-position: bottom;
    z-index: -1;
    opacity: 0.1;
}

/* Estilo para o botão de retorno ao index */
.return {
    position: absolute;
    top: 2em;
    left: 2em;
    border-radius: 50%;
}

.return img {
    position: fixed;
    width: 5em;
    height: 5em;
}

/* Centralizando o artigo .sizze no centro da página */
.sizze {
    padding: 2em;
    width: 50em;
    background-color: rgb(160, 159, 159);
    border-radius: 4em;
    text-align: center;
    max-width: 60em;
    margin: 2em;
}

.titlle {
    font-size: 7em;
    font-family: "Poiret One", sans-serif;
    text-transform: uppercase;
    margin-bottom: 0.2em;
}

#formlogin {
    font-family: "Poiret One", sans-serif;
    font-weight: 600;
    font-size: 2em;
    outline: none;
    width: 100%;
}

.dados {
    display: flex;
    justify-content: center;
    flex-direction: column;
    text-transform: uppercase;
    font-weight: 1000;
    margin: 2em;
    opacity: 0.85;
    gap: 1em;
    border: none;
    opacity: 0.85;
    text-align: left;
}
 
.dados input,
select {
    border-radius: 5em;
    border-color: rgb(197, 197, 197);
    padding: 0.6em;
}

.conect-bg {
    display: flex;
    flex-direction: center;
    justify-content: center;
}
:focus {
    background-color: rgb(53, 53, 53);
    color: aliceblue;
}

.link {
    font-size: 0.65em;
    text-align: right;

}

.conectar {
    display: flex;
    justify-content: center;
    height: 5em;
    width: 5em;
}

input:hover {
    border: 0.15em solid black;
}

#mensagemLogin {
    color: red; /* cor do texto */
    font-weight: bold; /* deixa o texto em negrito */
    margin-top: 10px; /* espaço acima da mensagem */
    margin-bottom: 0;
    font-size: 14px; /* tamanho da fonte */
    
  }

/* Para telas com largura de até 1200px */
@media (max-width: 1200px) {
    .sizze {
        width: 50em;
    }

    .titlle {
        font-size: 5em;
    }

    #formlogin {
        font-size: 1.8em;
    }
}

@media (max-width: 1024px) {
    .sizze {
        width: 40em;
    }

    .dados {
        padding: 1em;
    }

    .titlle {
        font-size: 4.5em;
    }

    #formlogin {
        font-size: 1.6em;
    }

    .return img {
        width: 4em;
        height: 4em;
    }
}

/* Para telas com largura de até 992px */
@media (max-width: 992px) {
    .sizze {
        width: 40em;
    }

    .titlle {
        font-size: 4.5em;
    }

    #formlogin {
        font-size: 1.6em;
    }

    .return img {
        width: 4em;
        height: 4em;
    }
}

/* Para telas com largura de até 768px */
@media (max-width: 768px) {
    .sizze {
        width: 50em;
    }

    .titlle {
        font-size: 4em;
    }

    #formlogin {
        font-size: 1.5em;
    }

    .return img {
        width: 3.5em;
        height: 3.5em;
    }
}

/* Para telas com largura de até 600px */
@media (max-width: 600px) {
    body {
        font-size: 50%;
    }

    .sizze {
        width: 90%;
        padding: 1.5em;
        border-radius: 2em;
    }

    .titlle {
        font-size: 3em;
    }

    #formlogin {
        font-size: 1.4em;
    }

    .dados input,
    select {
        padding: 0.5em;
    }

    .return img {
        width: 3em;
        height: 3em;
    }

    .buttons .btn {
        width: 12em;
    }
}

/* Para telas com largura de até 480px */
@media (max-width: 480px) {
    .sizze {
        width: 100%;
        padding: 1em;
    }

    .titlle {
        font-size: 2.5em;
    }

    #formlogin {
        font-size: 1.2em;
    }

    .buttons .btn {
        width: 10em;
    }
}
