body {
    font-size: 62.5%;
    display: flex;
    flex-direction:row ;
    gap: 25%;
    width: auto;
    height: 100vh;
}

body::before {
    content: "";
    position: absolute;
    inset: 0;
    background-image: url("images/cats.jpg");
    background-size: cover;
    background-position: bottom;
    z-index: -1;
    opacity: 0.1;
}

.return {
    width: 5em;
    height: 5em;
    border-radius: 50%;
}

.return img {
    width: 5em;
    height: 5em;
}

.sizze {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    width: 50em;
    height: 100vh;
    padding: 0;
    margin:0;
    background-color: rgb(160, 159, 159);
    border-radius: 5em;
}

.titlle {
    font-size: 7em;
    font-family: "Poiret One", sans-serif;
    text-transform: uppercase;
    margin-bottom: 0;
    padding: 0;
}

#forml {
    font-family: "Poiret One", sans-serif;
    font-weight: 600;
    font-size: 2em;
    margin:0;
    padding: 0;
    width: 100%;
}

.dados {
    display: flex;
    justify-content: center;
    flex-direction: column;
    text-transform: uppercase;
    font-weight: 1000;
    margin: 2em;
    opacity: 0.85;
    gap: 1em;
    border: none;
    opacity: 0.85;
    text-align: left;
}
 
.dados input,
select {
    border-radius: 5em;
    border-color: rgb(197, 197, 197);
    padding: 0.6em;
    width: 100%;
}

.conect-bg {
    display: flex;
    flex-direction: center;
    justify-content: center;
}
:focus {
    background-color: rgb(53, 53, 53);
    color: aliceblue;
}

.link {
    font-size: 0.65em;
    padding: 0;
    margin:0;
    text-align: right;

}

.conectar {
    display: flex;
    justify-content: center;
    height: 5em;
    width: 5em;
    padding: 0;
}

input:hover {
    border: 0.15em solid black;
}
