* {
    padding: 0;
    margin: 0;
}

body, .sizze, .align-home {
    display: flex;
    justify-content: center;
    align-items: center;
}

body {
    font-size: 62.5%;
    height: 100vh;
    overflow: hidden;
    position: relative;
}

body::before {
    content: "";
    position: absolute;
    inset: 0;
    background-image: url("/frontend/images/cats.jpg");
    background-size: cover;
    background-position: center;
    z-index: -1;
    opacity: 0.1;
}

.sizze {
    flex-direction: column;
}

.align-home {
    align-content: center;
    flex-direction: column;
    position: relative;
}

.home {
    font-family: "Poiret One", sans-serif;
    font-weight: 400;
    font-style: normal;
    font-size: 18em;
}

.ola {
    font-family: "Poiret One", sans-serif;
    font-weight: 1000;
    font-style: normal;
    font-size: 2.0em;
    margin-top: 0;
    padding: 0;
}

.acess {
    display: flex;
    flex-direction: row;
    margin-top: 3em;
    gap: 1em;
}

button {
    width: 10.0em;
    height: 2em;
    border-radius: 1em;
}

.cat {
    position: absolute;
    top: -7.05em;
    left: 0.4em;
    width: 150px;
    height: auto;
}

/* Estilos para telas pequenas (até 600px) */
@media (max-width: 600px) {
    body {
        font-size: 50%;
    }

    .home {
        font-size: 10em;
    }

    .ola {
        font-size: 1.5em;
    }

    button {
        width: 8em;
    }

    .cat {
        top:-6.8em;
        left: -1.6em;
        width: 100px;
    }
}

/* Estilos para telas médias (601px a 900px) */
@media (min-width: 601px) and (max-width: 900px) {
    body {
        font-size: 55%;
    }

    .home {
        font-size: 15em;
    }

    .ola {
        font-size: 1.8em;
    }

    button {
        width: 9em;
    }

    .cat {
        top:-8em;
        left: -1.2em;
        width: 140px;
    }
}

/* Estilos para telas grandes (acima de 901px) */
@media (min-width: 901px) {
    body {
        font-size: 62.5%;
    }

    .home {
        font-size: 18em;
    }

    .ola {
        font-size: 2em;
    }

    button {
        width: 10em;
    }

    .cat {
        width: 150px;
    }
}